## EJERCICIO 1

In [1]:
LocusGene = open ("LocusGene.tsv", "r")
LocusGene.seek(0)    
for line in LocusGene.readlines():
    locus, gene, proteinlength = line.split('\t')
    line = locus.strip()
    #print(line)
   

Germplasm = open ("Germplasm.tsv", "r")
Germplasm.seek(0)    
for X in Germplasm.readlines():
    locus, germplasm, phenotype, pubmed = X.split('\t')
    X = locus.strip()
    #print(X)
    
if line == X:
    print("the lines of data in Germplasm.tsv and LocusGene are in the same sequence")
else:
    print("They are not in the same sequence")

the lines of data in Germplasm.tsv and LocusGene are in the same sequence

## EJERCICIO 2

In [1]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [4]:
%sql drop database GermplasmData

In [6]:
%sql create database GermplasmData
%sql use GermplasmData

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [7]:
%sql create table Germplasm(locus varchar(20) PRIMARY KEY, germplasm varchar(20), phenotype varchar(200), pubmed int)
%sql DESCRIBE Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(20)', 'YES', '', None, ''),
 ('phenotype', 'varchar(200)', 'YES', '', None, ''),
 ('pubmed', 'int(11)', 'YES', '', None, '')]

In [8]:
%sql create table LocusGene(locus varchar(20) PRIMARY KEY, gene varchar(20), proteinlength int)
%sql DESCRIBE LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(20)', 'YES', '', None, ''),
 ('proteinlength', 'int(11)', 'YES', '', None, '')]

In [9]:
%sql show tables

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('Germplasm',), ('LocusGene',)]

## EJERCICIO 3

In [16]:
%reload_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

import pymysql.cursors
import re

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='GermplasmData',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

def write_to_db(db, locus, gene, proteinlength):
    locus = str(locus)
    gene = str(gene)
    proteinlength = str(proteinlength)
    locus = locus.strip()
    gene = gene.strip()
    proteinlength = proteinlength.strip()
      
    matchObj = re.search( r'\D', locus)

    if matchObj:
       print (locus, gene, proteinlength)
       return False
    else:
        try:
            with db.cursor() as cursor:
                sql = "insert into LocusGene (locus, gene, proteinlength) values ('{}', '{}', '{}')".format(locus, gene, proteinlength)
                cursor.execute(sql)

                db.commit()
        except Exception as e:
            print("INSERT FAILED")
            return False
        finally:
            return True


locusgene = open("LocusGene.tsv", "r")
locusgene.seek(0)   # set pointer back to the beginning in case we have run this before

for line in locusgene.readlines():
    line = line.rstrip()
    locus, gene, proteinlength = line.split('\t')
    if write_to_db(connection, locus, gene, proteinlength):
        print("written {} {} {}".format(locus, gene, proteinlength))
    else:
        print("write failed")

#locusgene.close()
#connection.close()

Locus Gene ProteinLength
write failed
AT1G01040 DCL1 332
write failed
AT1G01060 LHY 290
write failed
AT1G01140 CIPK9 223
write failed
AT1G01220 FKGP 190
write failed
AT2G03720 MRH6 189
write failed
AT2G03800 GEK1 196
write failed
AT2G04240 XERICO 256
write failed
AT2G05210 POT1A 221
write failed
AT3G02130 RPK2 284
write failed
AT3G02140 TMAC2 300
write failed
AT3G02230 RGP1 301
write failed
AT3G02260 BIG 279
write failed
AT3G02310 SEP2 175
write failed
AT3G02680 NBS1 190
write failed
AT3G02850 SKOR 234
write failed
AT3G02870 VTC4 311
write failed
AT3G03260 HDG8 194
write failed
AT4G14790 SUV3 312
write failed
AT4G15210 BAM5 313
write failed
AT4G15560 DXS 219
write failed
AT4G15570 MAA3 294
write failed
AT4G15802 HSBP 254
write failed
AT4G15880 ESD4 265
write failed
AT4G16420 ADA2B 279
write failed
AT4G16480 INT4 284
write failed
AT5G10480 PAS2 301
write failed
AT5G10510 AIL6 310
write failed
AT5G11110 SPS2 232
write failed
AT5G11260 HY5 221
write failed
AT5G11510 MYB3R-4 336
write failed
AT5G12200 PYD2 310
write failed
AT5G13290 CRN 189
write failed

In [20]:
%reload_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

import pymysql.cursors
import re

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='GermplasmData',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

def write_to_db(db, locus, germplasm, phenotype, pubmed):
    locus = str(locus)
    germplasm = str(germplasm)
    phenotype = str(phenotype)
    pubmed = str(pubmed)
    locus = locus.strip()
    germplasm = germplasm.strip()
    phenotype = phenotype.strip()
    pubmed = pubmed.strip()
      
    matchObj = re.search( r'\D', locus)

    if matchObj:
       print (locus, germplasm, phenotype, pubmed)
       return False
    else:
        try:
            with db.cursor() as cursor:
                sql = "insert into Germplasm (locus, germplasm, phenotype, pubmed) values ('{}', '{}', '{}')".format(locus, germplasm, phenotype, pubmed)
                cursor.execute(sql)

                db.commit()
        except Exception as e:
            print("INSERT FAILED")
            return False
        finally:
            return True


germplasm = open("Germplasm.tsv", "r")
germplasm.seek(0)   # set pointer back to the beginning in case we have run this before

for line in germplasm.readlines():
    line = line.rstrip()
    llocus, germplasm, phenotype, pubmed = line.split('\t')
    if write_to_db(connection, locus, germplasm, phenotype, pubmed):
        print("written {} {} {}".format(locus, germplasm, phenotype, pubmed))
    else:
        print("write failed")

#germplasm.close()
#connection.close()

AT5G13290 germplasm phenotype pubmed
write failed
AT5G13290 CS3828 Increased abundance of miRNA precursors. 17369351
write failed
AT5G13290 lhy-101 The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant. 16891401
write failed
AT5G13290 SALK_058629 hypersensitive to low potassium media 17486125
write failed
AT5G13290 SALK_012400C fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected. 18199744
write failed
AT5G13290 SALK_042433 Multiple straight hairs 16367956
write failed
AT5G13290 gek1-1 Ethanol hypersensitivity. 15215505
write failed
AT5G13290 xerico Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype. 17933900
write failed
AT5G13290 pot1-1 No visible phenotype. 17627276
write failed
AT5G13290 rpk2-2 The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants. 17419837
write failed
AT5G13290 afp4-1 Decreased germination on high concentrations of glucose and sorbitol. 18484180
write failed
AT5G13290 rgp1-1 rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls. 21478444
write failed
AT5G13290 tir3-1 RGLG1:rglg1 rglg2 The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence. 17586653
write failed
AT5G13290 sep2-1 Non-described subtle phenotype. 10821278
write failed
AT5G13290 atnbs1-1 Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions. 17672843
write failed
AT5G13290 CS3816 The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion. 17568770
write failed
AT5G13290 vtc4-1 ascorbate deficient 16595667
write failed
AT5G13290 hdg8-1 No visible phenotype. 16778018
write failed
AT5G13290 pdd17 Defective pollen development. 19237690
write failed
AT5G13290 bmy1-2 Plants cold-shocked for 6h have an increased starch content compared to wildtype. 16297066
write failed
AT5G13290 cla1-1 Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves. 10982425
write failed
AT5G13290 maa3 Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT. 18772186
write failed
AT5G13290 Athspb-2 Early flowering, reduced fertility, aborted seeds. 20388662
write failed
AT5G13290 esd4-2 Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1. 17513499
write failed
AT5G13290 prz1-1 Altered response to auxin and cytokinin 12747832
write failed
AT5G13290 atint4-2 No visible phenotype. 16603666
write failed
AT5G13290 pas2-3 Segregates 25% embryo lethal. 18799749
write failed
AT5G13290 plt3-1 Short roots and shortened root meristem. 17960244
write failed
AT5G13290 kns2 Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile. 18779216
write failed
AT5G13290 hy5-101 Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller. 16891401
write failed
AT5G13290 myb3r4-1 No visible phenotype. 17287251
write failed
AT5G13290 pyd2-2 The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source. 19413687
write failed
AT5G13290 crn-1 Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3. 12345678
write failed