## EJERCICIO 1

In [46]:
LocusGene = open ("LocusGene.tsv", "r")
LocusGene.seek(0)    
for line in LocusGene.readlines():
    locus, gene, proteinlength = line.split('\t')
    line = locus.strip()
    #print(line)
   

Germplasm = open ("Germplasm.tsv", "r")
Germplasm.seek(0)    
for X in Germplasm.readlines():
    locus, germplasm, phenotype, pubmed = X.split('\t')
    X = locus.strip()
    #print(X)
    
if line == X:
    print("the lines of data in Germplasm.tsv and LocusGene are in the same sequence")
else:
    print("They are not in the same sequence")

the lines of data in Germplasm.tsv and LocusGene are in the same sequence

## EJERCICIO 2

In [59]:
%reload_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
%sql drop database GermplasmData
%sql create database GermplasmData
%sql use GermplasmData

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [60]:
%sql create table LocusGene(locus varchar(20) PRIMARY KEY, gene varchar(20), proteinlength int)
%sql DESCRIBE LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(20)', 'YES', '', None, ''),
 ('proteinlength', 'int(11)', 'YES', '', None, '')]

In [61]:
%sql select * FROM LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [62]:
%sql create table Germplasm(locus varchar(40) PRIMARY KEY, germplasm varchar(40), phenotype varchar(40), pubmed int)
%sql DESCRIBE Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('locus', 'varchar(40)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(40)', 'YES', '', None, ''),
 ('phenotype', 'varchar(40)', 'YES', '', None, ''),
 ('pubmed', 'int(11)', 'YES', '', None, '')]

In [56]:
%sql select * FROM Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

## EJERCICIO 3

In [29]:

import pymysql.cursors
import re

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='LocusGene',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)


def write_to_db(db, locus, gene, proteinlength):
    locus = str(locus)
    gene = str(gene)
    proteinlength = str(proteinlength)
    locus = locus.strip()
    gene = gene.strip()
    proteinlength = proteinlength.strip()
    
try:
    with db.cursor() as cursor:
        sql = "insert into LocusGene ( locus, gene, proteinlength) values ('{}', '{}')".format(locus, gene, proteinlength)
        cursor.execute(sql)
        db.commit()
        
except Exception as e:
      print("INSERT FAILED")
      return False
finally:
    return True
        
locusgene = open("LocusGene.tsv", "r")

print(locusgene)
locusgene.seek(0)   # set pointer back to the beginning in case we have run
#this before


for line in locusgene.readlines():
    line = line.rstrip()
    locus, gene, proteinlength = line.split('\t')
    if write_to_db(connection, locus, gene, proteinlength):
        print("written {} {} {}".format(locus, gene, proteinlength)
    else:
        print("write failed")

SyntaxError: invalid syntax (<ipython-input-29-b01e5380ecf6>, line 45)

In [9]:

%load_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
%sql create database mystudents
%sql use mystudents
%sql create table student(name varchar(20), age int)


Then in Python:

import pymysql.cursors
import re

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='mystudents',
                             charset='utf8mb4',  # note utf8... this is
important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)


def write_to_db(db, name, age):
    name = str(name)
    age = str(age)
    name = name.strip()
    age = age.strip()
    matchObj = re.search( r'\D', age)
    
    if matchObj:
       print ("age was not a number!  I will not write it to the db")
       return False
    else:
        try:
            with db.cursor() as cursor:
                sql = "insert into student (name, age) values ('{}',
'{}')".format(name, age)
                cursor.execute(sql)
                
                db.commit()
        except Exception as e:
            print("INSERT FAILED")
            return False
        finally:
            return True


studentfile = open("students.csv", "r")
studentfile.seek(0)   # set pointer back to the beginning in case we have run
this before

for line in studentfile.readlines():
    line = line.rstrip()
    name, age = line.split(',')
    if write_to_db(connection, name, age):
        print("written {} {}".format(name, age))
    else:
        print("write failed")

studentfile.close()
connection.close()

0

## EJERCICIO 3

## EJERCICIO 4

## EJERCICIO 1

## EJERCICIO 1