In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
sc = SparkContext(master="local[4]")
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [3]:
"http://archive.ics.uci.edu/ml/machine-learning-databases/00262/turkiye-student-evaluation_generic.csv"

SyntaxError: invalid syntax (<ipython-input-3-bc00cbdd3f37>, line 1)

Tenemos el archivo .csv descargado del enlace de arriba con nuestros datos, así lo cargamos:

In [30]:
df = sqlContext.read.csv('turkiye-student-evaluation_generic.csv',header=True) #lo de header es porque aparece arriba de la tabla una fila que no nos interesa, para quitarla
df.toPandas().head(5)

,instr,class,nb.repeat,attendance,difficulty,Q1,Q2,Q3,Q4,Q5,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28
0,1,2,1,0,4,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,1,2,1,1,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,1,2,1,2,4,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
3,1,2,1,1,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,1,2,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [11]:
sqlContext.registerDataFrameAsTable(df,'df')

In [24]:
df.registerTempTable("instr")
sqlContext.sql(SELECT instr, COUNT(instr) AS count, FROM df GROUP BY instr ORDER BY count)

SyntaxError: invalid syntax (<ipython-input-24-7ce3060e1fb0>, line 2)

Numero de instructores:

In [48]:
df.registerTempTable("Data")

#numero de respuestas por instructor
query=""" SELECT instr FROM DATA Data GROUP BY instr"""

print(query)
sqlContext.sql(query).show()

 SELECT instr FROM DATA Data GROUP BY instr
+-----+
|instr|
+-----+
|    3|
|    1|
|    2|
+-----+

Numero de respuestas por instructor:

In [37]:
df.registerTempTable("Data")

#numero de respuestas por instructor
query=""" SELECT COUNT(difficulty) AS num_resp FROM Data GROUP BY instr"""

print(query)
sqlContext.sql(query).show()

 SELECT COUNT(difficulty) AS num_resp FROM Data GROUP BY instr
+--------+
|num_resp|
+--------+
|    3601|
|     775|
|    1444|
+--------+

In [49]:
df.registerTempTable("Data")

#numero de respuestas por instructor
query=""" SELECT COUNT(difficulty) AS num_resp FROM Data GROUP BY class"""

print(query)
sqlContext.sql(query).show()

 SELECT COUNT(difficulty) AS num_resp FROM Data GROUP BY class
+--------+
|num_resp|
+--------+
|     187|
|     484|
|     904|
|     500|
|     656|
|     558|
|     571|
|     303|
|     448|
|     187|
|      41|
|     841|
|     140|
+--------+

In [ ]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(
    )

In [56]:
from pyspark.ml.feature import PCA

pca = PCA(k=3, inputCol="features", outputCol="pcaFeatures")
model = pca.fit(df)

result = model.transform(df).select("pcaFeatures")
result.toPandas()

IllegalArgumentException: 'Field "features" does not exist.\nAvailable fields: instr, class, nb.repeat, attendance, difficulty, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11, Q12, Q13, Q14, Q15, Q16, Q17, Q18, Q19, Q20, Q21, Q22, Q23, Q24, Q25, Q26, Q27, Q28'

In [ ]:
para hacer el PCA está usando el assembler

Number of instructors?
Number of responses per instructor?
Responses per class?
Mean / std deviation per question? per class? per instructor?

In [ ]:
para usar el plotly necesitamos pasarlo a panda dataframe y listo. nos recomienda mirar el plotly.express

Number of instructors: 3

Queremos hacer un PCA, porque tenemos muchas columnas y queremos solo las componentes principales. Para hacer las PCA, necesito las columnas de entrada. Tenemos que hacer una columna features con todas las caracteristicas que influyen en la PCA.